section{
    margin-bottom: 50px;
}

h1 {
text-align: center;
padding-top: 23px;
}
.hr1 {
    border: 2px solid #131C39;
    opacity: 1;
    width: 20%;
    margin: auto;
}

h2 {
    margin: 0;
}

.progressbar{
    position:relative;
    display:flex;
    justify-content: space-between;
    margin: 2rem 30%;
    counter-reset: step;
    color: #fff;
    font-weight:bold;
    margin-bottom:5rem;
}
.progressbar::before, .progress{
    content:"";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height:4px;
    width:100%;
    background-color:#131C39;
}
.progress{
    background-color:#131C39;
    width:50%;
    transition: 0.3s ease-in--out;
}

.progress-step{
    width:45px;
    height:45px;
    background-color:#dcdcdc;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    z-index:2;
    /* overflow: hidden; */
    white-space: nowrap;
}
.progress-step::before{
    counter-increment:step;
    content: counter(step);
}
.progress-step::after{
    content:attr(data-title);
    position:absolute;
    top:calc(100% + 0.5rem);
    color:#131C39;
    font-size:20px;
}

.progress-step.active{
    background-color: #131C39;
}
.form-step{
    display:none;
    transform-origin:top;
    animation: animate 0.5s;
}
@keyframes animate{
    from{
        transform:scale(1,0);
        opacity:0;
    }
    to{
        transform:scale(1,1);
        opacity:1;
    }
}
.form-step.active{
    display:block;
}
.form-container {
    position: relative; /* Make the container a positioned parent */
    border: 1px solid #000; /* Example border style */
    margin: 0 8%; /* Example padding */
    border-radius:20px;
    padding:20px 50px;
}
.container1 {
    position: relative; /* Make the container a positioned parent */
    padding: 20px; /* Example padding */
    border:none;
}

.btn-next,.btn-submit{

    padding: 10px 50px;
    background-color: #131C39; /* Blue color */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    text-align: center;
}

.btn-prev {

    padding: 10px 50px;
    background-color: white; /* Blue color */
    color: #131C39; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    text-align: center;
    border: 1px solid #131C39;
}

.btn-next:hover, .btn-submit:hover {
    background-color: #2a2f51; /* Darker blue on hover */
}
.btn-prev:hover {
    background-color: #131C39; /* Darker blue on hover */
    color:white;
}
::placeholder {
    opacity: 0;
  }
  .howmany{
    display:none;
}

.modal-open {
    position: fixed;
    width: 100%;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top:9rem;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
  }
  .modal-content img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    width: 100px; 
    height: auto;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content button {
    width: 80px; /* Set the desired width */
    margin: 20px auto 0; /* Center the button horizontally and add some top margin */
    background-color: #131C39; /* Blue color */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}
.modal-open body {
    overflow: hidden;
}
  

@media only screen and (max-width: 768px) {
    .heading{
        margin-bottom:3rem;
    }
    .container1::before {
        content: attr(data-title); /* Text content */
        position: absolute; /* Position the text */
        top: -20px; /* Adjust the top position */
        left: 50%; /* Align text in the center */
        transform: translateX(-50%); /* Center horizontally */
        background-color:#131C39; /* Background color */
        padding: 10px 10px; /* Padding around text */
        color:white;
        border-radius:20px;
        text-transform: uppercase;
        font-weight:bolder;
        font-size:14px;
        width:250px;
        text-align:center;

    }

    .form-container {
        border: none; /* Example border style */
        margin:0;
        padding:0;
    }
    .container1 {
        position: relative; /* Make the container a positioned parent */
        border: 1px solid #000; /* Example border style */
        padding: 20px; /* Example padding */
        margin: 0 15%; /* Example padding */
        border-radius: 20px;


    }
    .heading {
        font-size: 24px;
        text-align: center;
    }

    .hr1 {
        display: none;
    }
    .progress-step::after{
        display: none;
    }
    .progressbar{
        margin: 2rem 15%;
    }
    .form-step.active label {
        display: none;
    }
    ::placeholder {
        opacity: 1;
        font-size:12px;
    }
    input {
        border: none;
        border-bottom: 1px solid #000; /* Black bottom border */
    /* Other styles */
    }
    .btn-next, .btn-submit,.btn-prev {
        padding: 10px 20px;
        font-size:12px;
    }
    .howmany{
        display:block;
    }
    .radio{
        font-size:12px;
    }
    .modal {
        width: 50%;
    }
    .modal-content {
        margin-top:10rem;
        padding: 20px;
    }

}


@media only screen and (max-width: 575px) {
    .container1 {
        margin: 0 8%; /* Example padding */
    }
    .heading {
        font-size: 20px;
        text-align: center;
    }

    .hr1 {
        display: none;
    }
    .progress-step{
        width:30px;
        height:30px;
    }
    .progressbar{
        margin: 0 5%;

    }
    .container1::before {
        font-size:10px;
        width:170px;
        text-align:center;
       
    }
    .btn-next, .btn-submit,.btn-prev {
        padding: 10px 10px;
    }
    .howmany{
        display:none;
    }
    .radio{
        font-size:12px;
    }
    .modal {
        width: 10%;
    }
    .modal-content {
        margin-top: 10rem;
        padding: 10px;
        max-width: 280px;

    }
    .modal-content img {
        width: 75px; 
    }
    h4{
        font-size:14px;
    }
    p{
        font-size:10px; 
    }
    .modal-content button {
        margin: 0 auto 10px; /* Center the button horizontally and add some top margin */
    }

}

