@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}



.navCont {
    padding: 0px 100px
}

#hero {
    background: url(../assets/img/hero.png)top right/cover no-repeat fixed;
    height: 70vh;
    background-repeat: no-repeat;

}

.search {
    width: 60%;
    border-radius: 10px;
    padding-top: 100px;
}


.formBtnSm
{
    display: none;
}

.featImg {
    height: 250px;
}

.featInfo {
    font-size: 14px;
}

.propType {
    font-size: 13px;
    background-color: #D9D9D9;

}
.caroProp
{
    display: none;
}
.partImg
{
    width: 200px;
}

.articles
{
    font-family: "Montserrat", sans-serif;

}
#getImg
{
    margin-bottom: -80px;
}
.morefilter
{
    display: none;
}

/* .modalCaro
{
    display: none;
} */


@media (max-width: 575.98px) {

    .navCont {
        padding: 0px 20px
    }
    .footer{
        padding: 30px 20px;
    }
    .search
    {
        width: 100%;
    }
    #searchTitle h2{
        font-size:24px;
        text-align:center;
    }
    .searchFilter
    {
        font-size:80px;
    }
    .container-search{
        padding: 0px 20px;
    }
    .container
    {
        padding: 0px 20px;

    }
    #propGroup
    {
        display: none;
    }
    .caroProp
    {
        display: block;
    }
    .partImg{
        width: 120px;
    }
    #getImg
    {
        width: 150px;
        margin-bottom: 0px;
    }
    .getTitle
    {
        font-size: 24px;
    }
    .careerCard
    {
        order: 2;
    }
    .careerImg
    {
        width: 2000px;
    }

    #knowImg
    {
        width: 10px;
    }
    .filter {
        position: relative; /* Change to relative on mobile screens */
        top: 0; /* Reset the top position */
    }
    #videoFrame
    {
        height: 400px;
        width: 100%;
    }
    .imageLg{
        display: none;
    }
    .contactUs
    {
        padding: 0px;
    }
}



@media (max-width: 992px) {
    .formBtnLg{
        display: none;
    }

    .formBtnSm{
        display: block;
    }
    .searchFilter
    {
        font-size:10px;
    }

    #hero
    {
        height: 60vh;
    }

    .search
    {
        width: 100%;
        
    }

    .menuItem navbar-nav 
    {
        font-size: 108px;
    }
    
}


.seemore {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
    /* Adjust height as needed */


  }
  

.carosm img{
  width: 80px;
  height: 70px;
  display: block;

}





.carosm button
{
  width: max-content!important;
} 


 .carosm
{
  position: unset;
} 
.agentCon
{
display: none;
}
  .seeBtn {
    background-color: rgba(0, 0, 0, 0.4);
    width: 1000px;

  }

  @media (max-width: 575.98px) {
    .card-title {
      font-size: 18px;
    }

    .card-text p {
      font-size: 12px;
    }

    .agentCard
    {
      display: none;
    }
    .calcu
    {
      padding-top: 20px;
      text-align: center;
    }
    .agentCon
    {
      display: block;
    }
  }