<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../src/style.css">
    
    <title>Document</title>
</head>
<body>
    

 <div class="container-fluid bg-dark text-white p-5" >
      <div class="row">
    <div class="col-lg-3 col-sm-12">
        <div>
            <p class="fs-6 fw-semibold">PHILPROPERTIES INT'L CORP</p>
        </div>
        <div>
            <ul class="list-unstyled  ">
               <a href="" class="text-decoration-none link-light fw-light"><li >About Philproperties</li></a> 
               <a href="" class="text-decoration-none link-light fw-light"><li>Our Team</li></a>
               <a href="" class="text-decoration-none link-light fw-light"><li>Career</li></a> 
                <a href="" class="text-decoration-none link-light fw-light"><li>Contact Us</li></a>
               <a href="" class="text-decoration-none link-light fw-light"><li>Buyer Information</li></a>
              
            </ul>
        </div>
        
    </div>
    <div class="col-lg-3 col-sm-12">
        <div>
            <p class="fs-6 fw-semibold">USER RESOURCES</p>
        </div>
        <div>
            <ul class="list-unstyled  ">
               <a href="" class="text-decoration-none link-light fw-light"><li >Reservation Procedure</li></a> 
               <a href="" class="text-decoration-none link-light fw-light"><li>Processes in Investing on a Real Estate Property</li></a>
               <a href="" class="text-decoration-none link-light fw-light"><li>Practical Tips For Buying A Piece of Real Estate</li></a> 
                <a href="" class="text-decoration-none link-light fw-light"><li>Be A Successful Real Estate Practitioner</li></a>
               <a href="" class="text-decoration-none link-light fw-light"><li>All Articles</li></a>
              
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div>
            <p class="fs-6 fw-semibold">CONTACT US</p>
        </div>
        <div>
            <ul class="list-unstyled  ">
               <a href="" class="text-decoration-none link-light fw-light"><li>(02) 7211 2774 - OFFICE</li></a> 
               <a href="" class="text-decoration-none link-light fw-light"><li>+(63)917 119 8992 - SUN</li></a>
            </ul>
        </div>  
    </div>
    <div class="col-lg-3 col-sm-12">
        <div>
            <p class="fs-6 fw-semibold">OFFICE ADDRESS</p>
        </div>
       <a href="" class="text-decoration-none link-light fw-light">Suite 932 Mega Plaza Bldg. ADB Avenue, 
        Ortigas Center, Pasig City</a>
    </div>
</div></footer>
      
  


</body>
</html>