body {
    /* background-color: black !important; */
}

.container1 {
    color: white;
    background-color: #131C39;
    height: 15rem;
    display: flex;
}

.header {
    margin: auto 100px;
}

.headerp {
    font-size: 24px;
}

.content {
    display: flex;
    gap: 10px;
    max-width: 100%;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 8rem;
    padding-right: 8rem;
}

.content p {
    text-align: justify;
}

.box {
    flex: 1;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 30px;
    flex-basis: 200px;
}

.content2 {
    padding-left: 8rem;
    padding-right: 8rem;
}

.content2 p {
    text-align: justify;

}

.additional-box {
    flex-basis: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 30px;
}

.container3 {
    padding-left: 8rem;
    padding-bottom: 50px;
    padding-top: 20px;
}

.btn1 {
    color: white;
    border-radius: 15px;
    background-color: #131C39;
    height: 40px;
    padding: 0 20px;
}

.btn1:hover {
    background-color: rgba(19, 28, 57, 0.2);
}

.container4 h1 {
    margin: 0 auto;
    font-size: 50px;
}

.hr1 {
    border: 4px solid #131C39;
    opacity: 1;
    width: 10%;
    margin: auto;
}

.container5 {
    margin-top: 15px;
}

#videoContainer {
    position: relative;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

#mainVideo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#cards-container.row {
    height: 300px;
    /* Set the height of the row */
    width: 68%;
    /* Set the width of the row */
    margin: 20px auto;
    padding-right: 23px;
    margin-bottom: 50px;

}

#carouselExampleIndicators {
    display: none;
}

@media only screen and (max-width: 991px) {
    .container1 {
        color: white;
        background-color: #131C39;
        height: 10rem;
        display: flex;
    }

    .container1 h1 {
        font-size: 28px;
    }

    .headerp {
        font-size: 20px;
    }

    .content {
        display: block;
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 0;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .content h1 {
        font-size: 24px;
    }

    .content p {
        font-size: 14px;
    }

    .box {
        padding: 15px;
        margin-bottom: 20px;
    }

    .content2 {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .additional-box {
        padding: 15px;
    }

    .additional-box h1 {
        font-size: 24px;
    }

    .additional-box {
        font-size: 14px;
    }

    .container4 h1 {
        font-size: 28px;
    }

    .hr1 {
        border: 2x solid #131C39;
        opacity: 1;
        width: 15%;
        margin: auto;
    }

    #cards-container.row {
        height: 500px;
        /* Set the height of the row */
        width: 70%;
        /* Set the width of the row */
    }

    #carouselExampleIndicators {
        display: none;
    }
}

@media only screen and (max-width: 590px) {
    .container1 {
        color: white;
        background-color: #131C39;
        height: 9rem;
        display: flex;
    }

    .container1 h1 {
        font-size: 24px;
    }

    .header {
        margin: auto 11px;
    }

    .headerp {
        font-size: 12px;
    }

    .content {
        display: block;
        padding-top: 30px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content h1 {
        font-size: 18px;
    }

    .content p {
        font-size: 12px;
    }

    .box {
        padding: 10px;
        margin-bottom: 10px;
    }

    .content2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .additional-box {
        padding: 15px;
    }

    .additional-box h1 {
        font-size: 18px;
    }

    .additional-box {
        font-size: 12px;
    }

    .container3 {
        padding-left: 0rem;
        display: flex;
    }

    .btn1 {
        margin: auto;
        font-size: 12px;
        height: 25px;
    }

    .container4 h1 {
        font-size: 18px;
    }

    .hr1 {
        border: 2x solid #131C39;
        opacity: 1;
        width: 22%;
        margin: auto;
    }

    .container5 {
        display: none;
    }

    #cards-container {
        display: none !important;
    }

    #carouselExampleIndicators {
        display: block;
    }

}